In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Carga y transformaciÃ³n de los datasets

data_import = pd.read_csv("2018-2010_import.csv")
data_export = pd.read_csv("2018-2010_export.csv")
data_gdp = pd.read_csv("GDP per Capita 1960-2021.csv", sep=";")
data_income = pd.read_csv("income_group.csv")
data_pop = pd.read_csv("population_total_long.csv")
#data_relig = pd.read_csv("religions.csv")
data_relig = pd.read_csv("by_rounded_percentage_share.csv")
data_fmi = pd.read_csv("FMI - Fondo Monetario Internacional 2023 | Datosmacro.csv", sep=";") 


data_import.rename(columns = {'value':'import value'}, inplace = True)
data_export.rename(columns = {'value':'export value'}, inplace = True)
data_gdp.rename(columns = {'Country Name':'country'}, inplace = True)
data_income.drop(columns=['Unnamed: 5'], inplace=True)
#data_relig.drop(columns=['Value Footnotes', 'Area', 'Sex', 'Source Year', 'Record Type',	'Reliability'], inplace=True)
#data_relig.drop(data_relig[data_relig.Religion.str.title() == 'Total'].index, inplace=True)
#data_relig = data_relig.dropna(subset=['Country or Area', 'Year', 'Religion', 'Value'])
#data_relig.rename(columns = {'Value':'Rel.Count', 'Year':'year', 'Country or Area':'country'}, inplace = True)
#data_relig[['year', 'Rel.Count']] = data_relig[['year', 'Rel.Count']].astype(int)
data_relig.drop(data_relig[data_relig['Year']>2020].index)
data_relig.rename(columns = {'Year':'year'}, inplace = True)

In [3]:
def adjust_country_name(df):
    df['country'] = df['country'].str.replace('AFGHANISTAN TIS','AFGHANISTAN')
    df['country'] = df['country'].str.replace('BAHARAIN IS','BAHARAIN')
    df['country'] = df['country'].str.replace('BOSNIA-HRZGOVIN','Bosnia-Herzegovina')
    df['country'] = df['country'].str.replace('BR VIRGN IS','British Virgin Islands')
    df['country'] = df['country'].str.replace('C AFRI REP','Central African Republic')
    df['country'] = df['country'].str.replace('CANARY IS','Spain')
    df['country'] = df['country'].str.replace('CAPE VERDE IS','Cabo Verde')
    df['country'] = df['country'].str.replace('CAYMAN IS','Cayman Islands')
    df['country'] = df['country'].str.replace('CHANNEL IS','Channel Islands')
    df['country'] = df['country'].str.replace('CHINA P RP','CHINA')
    df['country'] = df['country'].str.replace('CHRISTMAS IS.','Australia')
    df['country'] = df['country'].str.replace('COCOS IS','Australia')
    df['country'] = df['country'].str.replace('CONGO D. REP.','Congo, Dem. Rep.')
    df['country'] = df['country'].str.replace('CONGO P REP','Congo, Rep.')
    df['country'] = df['country'].str.replace('COOK IS','Cook Islands')
    df['country'] = df['country'].str.replace("COTE D' IVOIRE","Cote d'Ivoire")
    df['country'] = df['country'].str.replace('DOMINIC REP','Dominican Republic')
    df['country'] = df['country'].str.replace('EGYPT A RP','EGYPT')
    df['country'] = df['country'].str.replace('EQUTL GUINEA','Equatorial Guinea')
    df['country'] = df['country'].str.replace('FALKLAND IS','United Kingdom')
    df['country'] = df['country'].str.replace('FAROE IS.','Faroe Islands')
    df['country'] = df['country'].str.replace('FIJI IS','FIJI')
    df['country'] = df['country'].str.replace('FR GUIANA','France')
    df['country'] = df['country'].str.replace('FR POLYNESIA','French Polynesia')
    df['country'] = df['country'].str.replace('FR S ANT TR','France')
    df['country'] = df['country'].str.replace('GUINEA BISSAU','Guinea-Bissau')
    df['country'] = df['country'].str.replace('JERSEY         ','JERSEY')
    df['country'] = df['country'].str.replace('KIRIBATI REP','KIRIBATI')
    df['country'] = df['country'].str.replace('KOREA DP RP','Korea, Rep.')
    df['country'] = df['country'].str.replace('LAO PD RP','Lao PDR')
    df['country'] = df['country'].str.replace('MARSHALL ISLAND','MARSHALL ISLANDS')
    df['country'] = df['country'].str.replace('MICRONESIA','Micronesia, Fed. Sts.')
    df['country'] = df['country'].str.replace('N. MARIANA IS.','Northern Mariana Islands')
    df['country'] = df['country'].str.replace('NAURU RP','NAURU')
    df['country'] = df['country'].str.replace('NETHERLANDANTIL','Netherlands Antilles')
    df['country'] = df['country'].str.replace('NIUE IS','NIUE')
    df['country'] = df['country'].str.replace('NORFOLK IS','Australia')
    df['country'] = df['country'].str.replace('PACIFIC IS','Pacific island small states')
    df['country'] = df['country'].str.replace('PAKISTAN IR','PAKISTAN')
    df['country'] = df['country'].str.replace('PANAMA C Z','PANAMA')
    df['country'] = df['country'].str.replace('PANAMA REPUBLIC','PANAMA')
    df['country'] = df['country'].str.replace('PAPUA N GNA','Papua New Guinea')
    df['country'] = df['country'].str.replace('PITCAIRN IS.','United Kingdom')
    df['country'] = df['country'].str.replace('SAHARWI A.DM RP','Sahrawi Arab Democratic Republic')
    df['country'] = df['country'].str.replace('SAUDI ARAB','Saudi Arabia')
    df['country'] = df['country'].str.replace('SLOVAK REP','Slovak Republic')
    df['country'] = df['country'].str.replace('SOLOMON IS','Solomon Islands')
    df['country'] = df['country'].str.replace('SRI LANKA DSR','SRI LANKA')
    df['country'] = df['country'].str.replace('ST KITT N A','St. Kitts and Nevis')
    df['country'] = df['country'].str.replace('ST LUCIA','St. Lucia')
    df['country'] = df['country'].str.replace('ST PIERRE','France')
    df['country'] = df['country'].str.replace('ST VINCENT','St. Vincent and the Grenadines')
    df['country'] = df['country'].str.replace('STATE OF PALEST','Palestina')
    df['country'] = df['country'].str.replace('TANZANIA REP','TANZANIA')
    df['country'] = df['country'].str.replace('TIMOR LESTE','TIMOR-LESTE')
    df['country'] = df['country'].str.replace('TURKS C IS','Turks and Caicos Islands')
    df['country'] = df['country'].str.replace('U ARAB EMTS','United Arab Emirates')
    df['country'] = df['country'].str.replace('UNION OF SERBIA & MONTENEGRO','Serbia')
    df['country'] = df['country'].str.replace('UNSPECIFIED','World')
    df['country'] = df['country'].str.replace('US MINOR OUTLYING ISLANDS               ','United States')
    df['country'] = df['country'].str.replace('VANUATU REP','VANUATU')
    df['country'] = df['country'].str.replace('VIETNAM SOC REP','VIETNAM')
    df['country'] = df['country'].str.replace('VIRGIN IS US','Virgin Islands (U.S.)')
    df['country'] = df['country'].str.replace('WALLIS F IS','France')
    df['country'] = df['country'].str.replace('YEMEN REPUBLC','')
    df['country'] = df['country'].str.replace('U S A','United States')
    df['country'] = df['country'].str.replace('U K','United Kingdom')
    df['country'] = df['country'].str.replace('ST HELENA','United Kingdom')
    df['country'] = df['country'].str.title()

    return(df)

In [4]:
import warnings # Consultar con Alberto
warnings.simplefilter(action='ignore', category=FutureWarning)

data_import = adjust_country_name(data_import)
data_export = adjust_country_name(data_export)

In [5]:
data_export = data_export.merge(data_gdp[["country", "Country Code"]], how='outer')
data_import = data_import.merge(data_gdp[["country", "Country Code"]], how='outer')
data_export.head()

,HSCode,Commodity,export value,country,year,Country Code
0,2.0,MEAT AND EDIBLE MEAT OFFAL.,0.18,Afghanistan,2018.0,AFG
1,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,Afghanistan,2018.0,AFG
2,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,Afghanistan,2018.0,AFG
3,6.0,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,Afghanistan,2018.0,AFG
4,7.0,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,Afghanistan,2018.0,AFG

In [6]:
data_ex_imp = data_export.merge(data_import, how='outer', on=['HSCode', 'country', 'year'])
data_ex_imp

,HSCode,Commodity_x,export value,country,year,Country Code_x,Commodity_y,import value,Country Code_y
0,2.0,MEAT AND EDIBLE MEAT OFFAL.,0.18,Afghanistan,2018.0,AFG,NaN,NaN,NaN
1,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,Afghanistan,2018.0,AFG,NaN,NaN,NaN
2,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,Afghanistan,2018.0,AFG,NaN,NaN,NaN
3,6.0,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,Afghanistan,2018.0,AFG,NaN,NaN,NaN
4,7.0,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,Afghanistan,2018.0,AFG,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,12.38,AFG
...,...,...,...,...,...,...,...,...,...
144673,99.0,NaN,NaN,Pacific Island Small States,2012.0,NaN,MISCELLANEOUS GOODS.,NaN,NaN
144674,34.0,NaN,NaN,Pacific Island Small States,2011.0,NaN,"SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING P...",0.01,NaN
144675,99.0,NaN,NaN,Pacific Island Small States,2011.0,NaN,MISCELLANEOUS GOODS.,NaN,NaN
144676,71.0,NaN,NaN,Channel Islands,2010.0,NaN,"NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRE...",NaN,CHI
144677,NaN,NaN,NaN,Curacao,NaN,NaN,NaN,NaN,CUW

In [7]:
for k, v in enumerate(data_ex_imp.values):
    if pd.isna(data_ex_imp.loc[k, 'Commodity_x']) and not pd.isna(data_ex_imp.loc[k, 'Commodity_y']):
        data_ex_imp.loc[k, 'Commodity_x'] = data_ex_imp.loc[k, 'Commodity_y']
    if pd.isna(data_ex_imp.loc[k, 'Country Code_x']) and not pd.isna(data_ex_imp.loc[k, 'Country Code_y']):
        data_ex_imp.loc[k, 'Country Code_x'] = data_ex_imp.loc[k, 'Country Code_y']

data_ex_imp = data_ex_imp[['HSCode', 'Commodity_x', 'country', 'Country Code_x', 'year', 'import value', 'export value']]
data_ex_imp

,HSCode,Commodity_x,country,Country Code_x,year,import value,export value
0,2.0,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2018.0,NaN,0.18
1,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2018.0,NaN,0.00
2,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2018.0,NaN,12.48
3,6.0,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2018.0,NaN,0.00
4,7.0,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,Afghanistan,AFG,2018.0,12.38,1.89
...,...,...,...,...,...,...,...
144673,99.0,MISCELLANEOUS GOODS.,Pacific Island Small States,NaN,2012.0,NaN,NaN
144674,34.0,"SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING P...",Pacific Island Small States,NaN,2011.0,0.01,NaN
144675,99.0,MISCELLANEOUS GOODS.,Pacific Island Small States,NaN,2011.0,NaN,NaN
144676,71.0,"NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRE...",Channel Islands,CHI,2010.0,NaN,NaN
144677,NaN,NaN,Curacao,CUW,NaN,NaN,NaN

In [8]:
data_ex_imp.rename(columns = {'Commodity_x':'Commodity', 'Country Code_x':'Country Code'}, inplace = True)
data_ex_imp

/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/1634785797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ex_imp.rename(columns = {'Commodity_x':'Commodity', 'Country Code_x':'Country Code'}, inplace = True)

,HSCode,Commodity,country,Country Code,year,import value,export value
0,2.0,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2018.0,NaN,0.18
1,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2018.0,NaN,0.00
2,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2018.0,NaN,12.48
3,6.0,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2018.0,NaN,0.00
4,7.0,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,Afghanistan,AFG,2018.0,12.38,1.89
...,...,...,...,...,...,...,...
144673,99.0,MISCELLANEOUS GOODS.,Pacific Island Small States,NaN,2012.0,NaN,NaN
144674,34.0,"SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING P...",Pacific Island Small States,NaN,2011.0,0.01,NaN
144675,99.0,MISCELLANEOUS GOODS.,Pacific Island Small States,NaN,2011.0,NaN,NaN
144676,71.0,"NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRE...",Channel Islands,CHI,2010.0,NaN,NaN
144677,NaN,NaN,Curacao,CUW,NaN,NaN,NaN

In [9]:
data_gdp.set_index('Country Code', inplace=True)
data_gdp.head()

,country,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26515.678080,26942.307976,28421.386493,28451.273745,29326.708058,30220.594523,31650.760537,24487.863560,29342.100858,NaN
AFE,Africa Eastern and Southern,GDP per capita (current US$),NY.GDP.PCAP.CD,162.907576,162.546236,171.996697,199.182564,179.381788,198.223726,209.407648,...,1731.795976,1719.809190,1540.850354,1432.111827,1613.788555,1550.180567,1500.229274,1353.769160,1537.336021,NaN
AFG,Afghanistan,GDP per capita (current US$),NY.GDP.PCAP.CD,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,143.103233,...,651.987862,628.146804,592.476537,520.252064,530.149831,502.056771,500.522664,516.866552,368.754614,NaN
AFW,Africa Western and Central,GDP per capita (current US$),NY.GDP.PCAP.CD,106.976475,112.047561,117.730633,122.278715,130.599963,137.186142,142.895375,...,2149.295219,2243.271464,1876.623483,1645.023767,1585.911930,1731.311792,1749.303317,1683.436391,1757.030626,NaN
AGO,Angola,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5101.983876,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1603.993477,1953.533757,NaN

In [10]:
data_ex_imp = data_ex_imp.dropna(subset=['HSCode', 'Commodity', 'country', 'Country Code', 'year'])
data_ex_imp[['HSCode', 'year']] = data_ex_imp[['HSCode', 'year']].astype(int)
data_ex_imp['gdp year'] = [data_gdp.loc[v[-4], str(v[-3])] for k, v in enumerate(data_ex_imp.values)]
data_ex_imp.head()

/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/2436741649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ex_imp[['HSCode', 'year']] = data_ex_imp[['HSCode', 'year']].astype(int)
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/2436741649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ex_imp['gdp year'] = [data_gdp.loc[v[-4], str(v[-3])] for k, v in enumerate(data_ex_imp.values)]

,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year
0,2,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2018,NaN,0.18,502.056771
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2018,NaN,0.00,502.056771
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2018,NaN,12.48,502.056771
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2018,NaN,0.00,502.056771
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,Afghanistan,AFG,2018,12.38,1.89,502.056771

In [11]:
data_ex_imp_income = data_ex_imp.merge(data_income, on='Country Code', how='outer')
data_ex_imp_income.head()

,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year,Region,IncomeGroup,SpecialNotes,TableName
0,2.0,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2018.0,NaN,0.18,502.056771,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
1,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2018.0,NaN,0.00,502.056771,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
2,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2018.0,NaN,12.48,502.056771,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,6.0,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2018.0,NaN,0.00,502.056771,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
4,7.0,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,Afghanistan,AFG,2018.0,12.38,1.89,502.056771,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan

In [12]:
data_pop.rename(columns = {'Country Name':'country', 'Year':'year', 'Count':'Pop.Count'}, inplace = True)
data_pop.head()

       country  year  Pop.Count
0        Aruba  1960      54211
1  Afghanistan  1960    8996973
2       Angola  1960    5454933
3      Albania  1960    1608800
4      Andorra  1960      13411

In [13]:
data_ex_imp_pop = data_ex_imp_income.merge(data_pop, how='left', on=['country', 'year'])
data_ex_imp_pop = data_ex_imp_pop.dropna(subset=['HSCode', 'Commodity', 'country', 'Country Code', 'year', 'gdp year', 'Pop.Count']).reset_index()
data_ex_imp_pop[['HSCode', 'year']] = data_ex_imp_pop[['HSCode', 'year']].astype(int)
data_ex_imp_pop

,index,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year,Region,IncomeGroup,SpecialNotes,TableName,Pop.Count
0,86,2,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2017,NaN,0.80,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0
1,87,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0
2,88,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2017,NaN,14.58,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0
3,89,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",Afghanistan,AFG,2017,NaN,NaN,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0
4,90,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105104,123342,75,NICKEL AND ARTICLES THEREOF.,Zimbabwe,ZWE,2013,NaN,NaN,1408.367810,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13350356.0
105105,123343,1,LIVE ANIMALS.,Zimbabwe,ZWE,2012,NaN,NaN,1290.193956,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13115131.0
105106,123344,1,LIVE ANIMALS.,Zimbabwe,ZWE,2011,0.00,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0
105107,123345,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2011,NaN,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0
105108,123346,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2010,0.14,NaN,937.840338,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12697723.0

In [14]:
rel = data_relig.iloc[:, 3:11]
data_relig['Main Religion'] = np.nan * data_relig.shape[0]

data_relig['Main Religion'] = [rel.loc[k].idxmax() for k in rel.index]
data_relig

,year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated,Main Religion
0,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4,Christians
1,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1,Christians
2,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7,Christians
3,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8,Christians
4,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0,Muslims
...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2050,Sub-Saharan Africa,Zimbabwe,1.0,86.1,4.9,1.0,1.0,1.1,1.0,7.6,Christians
1201,2050,Sub-Saharan Africa,South Sudan,1.0,60.5,32.9,1.0,1.0,6.2,1.0,1.0,Christians
1202,2050,Latin America-Caribbean,Curacao,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3,Christians
1203,2050,Latin America-Caribbean,Sint Maarten,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3,Christians
1204,2050,Latin America-Caribbean,Caribbean Netherlands,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3,Christians

In [15]:
data_relig_short = data_relig[['Country', 'Main Religion']].drop_duplicates(subset=['Country'], keep='first').set_index('Country')
data_relig_short

                      Main Religion
Country
All Countries            Christians
Afghanistan                 Muslims
Albania                     Muslims
Algeria                     Muslims
American Samoa           Christians
...                             ...
Zimbabwe                 Christians
South Sudan              Christians
Curacao                  Christians
Sint Maarten             Christians
Caribbean Netherlands    Christians

[235 rows x 1 columns]

In [17]:
df = data_ex_imp_pop
df['Religion'] = np.nan * data_ex_imp_pop.shape[0]

country_list = data_relig_short.index.values.tolist()
i = 0

while i < df.shape[0]:
    country = df.loc[i, 'country']
    j = df[df['country'] == country].index[-1]
    if country in country_list:
        df['Religion'][df['country'] == country] = data_relig_short.loc[country][0]
        i = j + 1
    else: i += 1

df

/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/1361525317.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == country] = data_relig_short.loc[country][0]

,index,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year,Region,IncomeGroup,SpecialNotes,TableName,Pop.Count,Religion
0,86,2,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2017,NaN,0.80,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims
1,87,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims
2,88,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2017,NaN,14.58,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims
3,89,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",Afghanistan,AFG,2017,NaN,NaN,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims
4,90,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105104,123342,75,NICKEL AND ARTICLES THEREOF.,Zimbabwe,ZWE,2013,NaN,NaN,1408.367810,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13350356.0,Christians
105105,123343,1,LIVE ANIMALS.,Zimbabwe,ZWE,2012,NaN,NaN,1290.193956,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13115131.0,Christians
105106,123344,1,LIVE ANIMALS.,Zimbabwe,ZWE,2011,0.00,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians
105107,123345,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2011,NaN,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians
105108,123346,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2010,0.14,NaN,937.840338,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12697723.0,Christians

In [18]:
list(set(np.array(data_relig_short.iloc[:,0])))

['Folk Religions',
 'Buddhists',
 'Christians',
 'Hindus',
 'Unaffiliated',
 'Jews',
 'Muslims']

In [19]:
missing_countries = np.unique(df['country'][df['Religion'].isna()])
missing_countries

array(['Cabo Verde', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Faroe Islands',
       'Korea, Rep.', 'Micronesia, Fed. Sts.', 'Myanmar',
       'Slovak Republic', 'Virgin Islands (U.S.)'], dtype=object)

In [20]:
df['Religion'][df['country'] == 'Cabo Verde'] = 'Christians'
df['Religion'][df['country'] == 'Congo, Dem. Rep.'] = 'Christians'
df['Religion'][df['country'] == 'Congo, Rep.'] = 'Christians'
df['Religion'][df['country'] == 'Faroe Islands'] = 'Christians'
df['Religion'][df['country'] == 'Korea, Rep.'] = 'Unaffiliated'
df['Religion'][df['country'] == 'Micronesia, Fed. Sts.'] = 'Christians'
df['Religion'][df['country'] == 'Myanmar'] = 'Buddhists'
df['Religion'][df['country'] == 'Slovak Republic'] = 'Christians'
df['Religion'][df['country'] == 'Virgin Islands (U.S.)'] = 'Christians'

/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Cabo Verde'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Congo, Dem. Rep.'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Congo, Rep.'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Faroe Islands'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Korea, Rep.'] = 'Unaffiliated'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Micronesia, Fed. Sts.'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Myanmar'] = 'Buddhists'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Slovak Republic'] = 'Christians'
/var/folders/63/18437r0s4s7bgfg_v2dp6pr80000gn/T/ipykernel_98347/464040280.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Religion'][df['country'] == 'Virgin Islands (U.S.)'] = 'Christians'

In [21]:
df.shape

(105109, 15)

In [22]:
data_fmi = data_fmi.set_index('Code')
data_fmi

,Country,PoblaciÃ³n,PIB anual,PIB Per Capita,Deuda total (M.â¬),Deuda (%PIB),DÃ©ficit (%PIB)
Code,,,,,,,
AFG,Afghanistan,39835428,17643,453,1305.0,"0,074","-0,0224"
ALB,Albania,2793592,15432,5490,10086.0,"0,7593","-0,0671"
DEU,Germany,83237124,3858300,46020,2471628.0,"0,686","-0,037"
AGO,Angola,33933611,63521,1872,54889.0,"0,8641","0,0377"
ATG,Antigua and Barbuda,98728,1244,12599,1218.0,"1,0148","-0,0636"
...,...,...,...,...,...,...,...
VNM,Vietnam,98168829,309415,3152,122876.0,"0,3971","-0,0347"
YEM,Yemen,30490639,17808,584,13867.0,"0,8396","-0,0478"
DJI,Djibouti,1002000,2850,2845,1309.0,"0,4595","-0,0339"
ZMB,Zambia,18920657,18008,952,21455.0,"1,1914","-0,0843"
ZWE,Zimbabwe,15092171,22168,1469,19145.0,"0,9321","-0,01"

In [24]:
df['PIB Per Capita'] = np.nan * df.shape[0]
df['Deuda (%PIB)'] = np.nan * df.shape[0]
df['DÃ©ficit (%PIB)'] = np.nan * df.shape[0]

for k, v in enumerate(df['Country Code']):
    if v in data_fmi.index:
        df.loc[k, 'PIB Per Capita'] = data_fmi.loc[v, 'PIB Per Capita']
        df.loc[k, 'Deuda (%PIB)'] = data_fmi.loc[v, 'Deuda (%PIB)']
        df.loc[k, 'DÃ©ficit (%PIB)'] = data_fmi.loc[v, 'DÃ©ficit (%PIB)']

In [34]:
df['Deuda (%PIB)'] = df['Deuda (%PIB)'].str.replace(',', '.')
df['DÃ©ficit (%PIB)'] = df['DÃ©ficit (%PIB)'].str.replace(',', '.')
df[['Deuda (%PIB)', 'DÃ©ficit (%PIB)']] = df[['Deuda (%PIB)', 'DÃ©ficit (%PIB)']].astype(float)

,index,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year,Region,IncomeGroup,SpecialNotes,TableName,Pop.Count,Religion,PIB Per Capita,Deuda (%PIB),DÃ©ficit (%PIB)
0,86,2,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2017,NaN,0.80,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
1,87,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
2,88,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2017,NaN,14.58,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
3,89,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",Afghanistan,AFG,2017,NaN,NaN,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
4,90,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105104,123342,75,NICKEL AND ARTICLES THEREOF.,Zimbabwe,ZWE,2013,NaN,NaN,1408.367810,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13350356.0,Christians,1469.0,0.9321,-0.0100
105105,123343,1,LIVE ANIMALS.,Zimbabwe,ZWE,2012,NaN,NaN,1290.193956,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13115131.0,Christians,1469.0,0.9321,-0.0100
105106,123344,1,LIVE ANIMALS.,Zimbabwe,ZWE,2011,0.00,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians,1469.0,0.9321,-0.0100
105107,123345,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2011,NaN,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians,1469.0,0.9321,-0.0100
105108,123346,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2010,0.14,NaN,937.840338,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12697723.0,Christians,1469.0,0.9321,-0.0100

In [35]:
df.dtypes

index               int64
HSCode              int64
Commodity          object
country            object
Country Code       object
year                int64
import value      float64
export value      float64
gdp year          float64
Region             object
IncomeGroup        object
SpecialNotes       object
TableName          object
Pop.Count         float64
Religion           object
PIB Per Capita    float64
Deuda (%PIB)      float64
DÃ©ficit (%PIB)    float64
dtype: object

In [36]:
df.reset_index()
#df.drop(columns=['index'], inplace=True)
df

,index,HSCode,Commodity,country,Country Code,year,import value,export value,gdp year,Region,IncomeGroup,SpecialNotes,TableName,Pop.Count,Religion,PIB Per Capita,Deuda (%PIB),DÃ©ficit (%PIB)
0,86,2,MEAT AND EDIBLE MEAT OFFAL.,Afghanistan,AFG,2017,NaN,0.80,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
1,87,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
2,88,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,Afghanistan,AFG,2017,NaN,14.58,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
3,89,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",Afghanistan,AFG,2017,NaN,NaN,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
4,90,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,Afghanistan,AFG,2017,NaN,0.00,530.149831,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,36296400.0,Muslims,453.0,0.0740,-0.0224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105104,123342,75,NICKEL AND ARTICLES THEREOF.,Zimbabwe,ZWE,2013,NaN,NaN,1408.367810,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13350356.0,Christians,1469.0,0.9321,-0.0100
105105,123343,1,LIVE ANIMALS.,Zimbabwe,ZWE,2012,NaN,NaN,1290.193956,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,13115131.0,Christians,1469.0,0.9321,-0.0100
105106,123344,1,LIVE ANIMALS.,Zimbabwe,ZWE,2011,0.00,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians,1469.0,0.9321,-0.0100
105107,123345,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2011,NaN,NaN,1082.615774,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12894316.0,Christians,1469.0,0.9321,-0.0100
105108,123346,81,OTHER BASE METALS; CERMETS; ARTICLES THEREOF.,Zimbabwe,ZWE,2010,0.14,NaN,937.840338,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,12697723.0,Christians,1469.0,0.9321,-0.0100

In [37]:
df.to_csv('practica_2.csv', index=False)